/* reset CSS */
@import "normalize";

/* Variables */

$common-font: "Helvetica", Arial, sans-serif;

/* Extend */

%left-right-padding {
  padding-left: 5%;
  padding-right: 5%;
}

%top-bottom-padding {
  padding-top: 40px;
  padding-bottom: 40px;
}

%text-section {
  line-height: 150%;
  font-size: 110%;
  color: #535050;
}

%flex-wrap-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

%flex-center-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@media screen and (max-width: 500px) {
  @mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
  }

  %hamburger-position {
    position: absolute;
    top: 8px;
    left: 8px;
  }

  %hamburger-padding {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
  }

  %navigation-menu-position {
    position: absolute;
    top: 8px;
    left: 12px;
  }

  .history-description {
    width: 240px;
    margin-left: 6%;
  }

  .hamburger {
    @extend %hamburger-position;
    @extend %hamburger-padding;
    @include border-radius(2px);
    display: block;
    background-color: rgba(128, 128, 128, 0.5);
    color: white;
    font-size: 2em;
  }

  #cross-button {
    border-bottom: none;
  }

  .navigation-menu {
    position: absolute;
    top: 0;
    ul {
      padding: 0;
      margin: 0;

      li {
        background-color: rgba(128, 128, 128, 0.5);
        border-bottom: 1px rgba(128, 128, 128, 0.6) solid;
        text-align: center;
        padding-top: 3%;
        padding-bottom: 1%;
        height: 20px;
        width: 100vw;

        svg {
          @extend %navigation-menu-position;
          color: #fdf6f6;
          font-size: 2em;
        }
      }
    }
  }

  .navigation-bar {
    display: none;
  }

  .hero-text-container {
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .name {
      font-size: 400%;
      margin: 0;
    }

    .profession {
      font-size: 200%;
      margin: 5px 0;
    }
  }

  .about-description{
    max-width: 90vw;
  }
}

@media screen and (min-width: 500px) {

  %center-position {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .navigation-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    ul:first-child {
      display: flex;
      align-items: center;
      margin: 0;
      padding: 0;

      li {
        margin-left: 1.5rem;
      }
    }
    ul:last-child {
      margin: 1.25rem 0;
      padding: 0;
      li {
        margin-right: 1.5rem;
      }
    }
    ul {
      li {
        font-size: 100%;
        font-weight: bold;
      }
    }
  }

  .about-description{
    max-width: 60vw;
  }

  .history-description {
    margin-left: 6%;
    width: 405px;
  }
  .hamburger {
    display: none;
  }
  .navigation-menu {
    display: none;
  }

  .hero-text-container {
    @extend %center-position;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;

    .name {
      font-size: 400%;
      margin: 0;
    }

    .profession {
      font-size: 200%;
      margin: 8px;
    }
  }
}

/* COMMON */
ul {
  list-style-type: none;
}

body {
  font-family: $common-font;
}

a {
  text-decoration: none;
}

h1 {
  text-align: center;
  margin: 10px;
  font-size: 200%;
}

ul.nav-links li {
  font-weight: bold;

  a[href="#about"] {
    color: #6020DF;
  }

  a[href="#history"] {
    color: #209FDF;
  }

  a[href="#photoSection"] {
    color: #20DF40;
  }

  a[href="#contact"] {
    color: #DF6020;
  }
  .blog-link {
    color: #DF2020;
  }
}

/* HERO */

#hero {
  background-image: url("./photos/atmosphere-background.jpg");
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Text Animation*/
.hero-text {
  text-align: center;
  background: linear-gradient(
                  60deg,
                  hsl(0, 75%, 50%) 10%,
                  hsl(20, 75%, 50%) 10%,
                  hsl(20, 75%, 50%) 25%,
                  hsl(50, 75%, 50%) 25%,
                  hsl(50, 75%, 50%) 40%,
                  hsl(130, 75%, 50%) 40%,
                  hsl(130, 75%, 50%) 55%,
                  hsl(200, 75%, 50%) 55%,
                  hsl(200, 75%, 50%) 70%,
                  hsl(260, 75%, 50%) 70%,
                  hsl(260, 75%, 50%) 85%,
                  hsl(0, 75%, 50%) 85%
  );

  color: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: 10s BeProud linear infinite,
  3s Always ease alternate infinite;
}

@keyframes BeProud {
  100% {
    background-position: 100vw 0px;
  }
}

@keyframes Always {
  100% {
    transform: scale(1.1);
  }
}

/* ABOUT */

#about {
  @extend %left-right-padding;
  @extend %top-bottom-padding;
  @extend %flex-center-section;
  flex-direction: column;
  text-align: center;
}

.about-description p {
  @extend %text-section;
}

#skills {
  margin-top: 30px;
}

#icons-container {
  @extend %flex-wrap-section;

  div {
    width: 60px;
    height: 70px;
    margin: 20px 30px;
    text-align: center;
  }
}

/* HISTORY */

#history {
  @extend %left-right-padding;
  @extend %top-bottom-padding;
  background-color: #D9E2E6;

  ul {
    @extend %flex-center-section;
    flex-direction: column;
    list-style-type: none;
    padding-left: 0;

    li {
      @extend %flex-center-section;
      margin-top: 30px;
    }
  }
}

.history-description {
  @extend %text-section;
}

.work {
  color: #DF6020;
}

//.date {
//  color: #20DF40;
//}

.place {
  color: #209FDF;
}

.history-container {
  @extend %flex-center-section;
  @extend %text-section;
  @include border-radius(10px);
  text-align: center;
  background-color: rgba(255, 255, 255, 0.84);
  height: 12vw;
  width: 12vw;
  min-width: 90px;
  min-height: 90px;
}

.history-icon {
  max-width: 85%;
  max-height: 85%;
}

.ept-icon {
  @include border-radius(10px);
  vertical-align: middle;
}

/* PHOTOS */

#photoSection {
  @extend %top-bottom-padding;
}

#photoSection p {
  @extend %left-right-padding;
  @extend %text-section;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

#photos {
  @extend %flex-wrap-section;

  img {
    height: 20%;
    width: 20%;
    min-width: 150px;
    max-width: 300px;
    flex-grow: 1;
    flex-shrink: 1;
    filter: sepia(20%);
  }
}

/*CONTACT*/

#contact {
  @extend %top-bottom-padding;
  height: 250px;
  text-align: center;
  padding-top: 80px;
}

.contact-icons {
  @extend %flex-wrap-section;

  a {
    color: #413f3f;
    font-size: 350%;
    margin: 10px 10px;
  }
}

.contact-name {
  display: none;
}

footer {
  font-size: 13px;
  color: rgba(175, 171, 171, 0.88);
  text-align: center;
  position: relative;
  bottom: 2px;
}

